/* IMPORTANDO FUENTES */

@font-face {
  font-family: "Lato";
  src: url(./fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto/Roboto-Bold.ttf);
}
/* ---- reset ---- */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: #0072ad;
  font: normal 75% Arial, Helvetica, sans-serif;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

canvas {
  display: block;
  /* vertical-align:auto; */
}
/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #0072ad;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 10px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  /* webkit-user-select: none; */
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}

/* UTILIDADES */
/* img {
  max-width: 100%; */

.contenedor {
  max-width: 1100px;
  margin: 0 auto;
  width: 95%;
}
/* MIS ESTILOS */

.containerHeader {
  height: 80vh;
  background: rgb(231, 10, 10);
  background: linear-gradient(90deg, #c6c9e4, #0072ad 100%);
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.button__header:active{
  color: #ff143b;
}

/* .containMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  position: flex;
  z-index: 1;
} */
/* .containMain .item{  
}
.item button{
    width: 5rem;
    height: 2rem;
    background: transparent;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    font-size: 15px;
}
.item:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-self: center;
}
/* NAVEGATION */
.nav {
  position: fixed;
  background-color: #0072ad;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.1s ease-in-out;
}

.nav a:hover {
  color: #ff143b;
  font-weight: bold;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  transition: all 0.1s ease-in-out;
}

nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 5rem;
    padding: .5rem 0;
}

nav .contenedor{
    display: flex;
    justify-content: center;
}
.contenedor .containerL{
    display: inherit;
    align-items: center;
}
.containerL h2{
    font-family: "roboto";
    font-size: 2rem;
    color: #fff;
}
.containerLinks{
    margin-left: 4rem;
}
.containerLinks a{
    margin-right: 2.5rem;
    color: #fff;
    font-family: "lato";
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
}
.containerR{
    display: none;
    align-items: center;
}
.containerR button{
    width: 10rem;
    height: 3ren;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #fff;
    font-family: "lato";
    font-size: 1.2rem;
    color: #fff;
    outline: none;
    cursor: pointer ;
} */
img {
  max-width: 50%;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}

.card-header {
  height: 200px;
}

.card-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-content {
  background-color: #fff;
  padding: 30px;
}

.card-title {
  height: 20px;
  margin: 0;
}

.card-excerpt {
  color: #777;
  margin: 10px 0 20px;
}

.autor {
  display: flex;
}

.perfil-img {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.autor-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  width: 100px;
}

.autor-info small {
  color: #aaa;
  margin-top: 5px;
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,

  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

footer {
  margin: 20px;
}

.footer__content > a, .footer__link {
  color:#000022;
  text-decoration: none;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 950px;
  margin-top: 100px;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}

@media screen and (max-width: 798px) {

  .item {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 430px) {

  .containerHeader {
    width: 22em;
    height: 70vh;
  }

  .card {
    width: 240px;
  }

  .item > img {
    width: 280px;
  }

}

